/* * {outline:1px solid red} */

body {
  color: #fafafa;
  background-color: whitesmoke
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 7px;
  background: burlywood;
  overflow: hidden;
  box-shadow: 0.2px 0px 1px #00000080;
}

.middle {
  background: burlywood;
  position: relative;
  top: -5px;
}

.App > h3 {
  color: #222222cc;
  padding: 10px 10px 8px 10px;
  position: relative;
  top: -1em;
}

.sub-container {
  position: relative;
  top: -2em
}

.weather {
  position: relative;
  bottom: -2em;
  color: sienna;
  background-color: white;
}

.bottom {
  width: 100%;
}

.bottom > div:nth-of-type(1) {
  border-right: 1px solid #00000080;
}

.bottom > div:nth-of-type(2) {
  border-left: 1px solid #00000080
}

.bottom > div {
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14%;
  padding-right: 14%;
  color: #222222bf;
}

.bottom > div > span {
  display: block;
  padding: 10px 0 1px 0;
  transition: cubic-bezier(0.86, 0, 0.07, 1)
}

.Form {
  padding: 10px;
}

.Form .row {
  display: inline-block
}

.Form input {
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #0000008c;
  transition: 0.5s;
  line-height: 2;
  color: #222
}

.Form button {
  background: #b58950;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  line-height: 1.5;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0.5px 0.4px #00000085;
  color: #222222fc;
}