/* * {outline:1px solid red} */

body {
  color: #fafafa;
  background-color: whitesmoke
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border-radius: 7px;
  background: darkslategray;
  overflow: hidden;
}

.App > h3 {
  color: white;
  background-color: slateblue;
  padding: 10px 10px 8px 10px;
  position: relative;
  top: -1em;
}

.sub-container {
  position: relative;
  top: -2em
}

.weather {
  position: relative;
  bottom: -2em;
  color: sienna;
  background-color: white;
}

  .bottom > div {
    display: inline-block;
    padding: 10px;
  }

.bottom:nth-last-child() {
  background: blue !important
}